body {
  margin: 0;
}

#map-container {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
}

.navbar {
  margin-bottom: 0
}

.imageModal {
  // height: 300px;
  // width: 550px
  // padding-bottom: 10px;
  width: auto;
  max-width: 400px;
  height: auto;
  max-height: 300px;
}

.blurry  {
  -webkit-filter: blur(2px);
  -moz-filter: blur(2px);
  -o-filter: blur(2px);
  -ms-filter: blur(2px);
  filter: blur(2px);
  // width: 100px;
  // height: 100px;
  background-color: #ccc;
}

.navbar-brand {
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 25px;
	font-style: italic;;
	font-variant: normal;
	font-weight: 500;
  color:#e7e7e7
	// line-height: 26.4px;
}

.navbar .navbar-brand {
  color:#e7e7e7
}

.navbar-default .navbar-nav>li>a {
    color: #e7e7e7;
}
.navbar {
  background-color: #7f0000;
  height: 50px;
}

.modal-backdrop {
  background: gray;
}

.p1 {
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	font-size: 13px;
	font-style: italic;
	font-variant: normal;
	font-weight: 500;
  line-height: 50px;
  color:#e7e7e7
}
